* {
	--orange: hsl(25, 97%, 53%);
	--white: hsl(0, 0%, 100%);
	--light-grey: hsl(217, 12%, 63%);
	--medium-grey: hsl(216, 12%, 54%);
	--dark-blue-lighter: hsl(213, 19%, 23%);
	--dark-blue: hsl(213, 19%, 18%);
	--very-dark-blue: hsl(216, 12%, 8%);
}

div.display-none {
	display: none;
}

body {
	font-family: "Overpass", sans-serif;
	font-size: 0.9375rem;
	font-weight: 400;
	background-color: var(--very-dark-blue);
	color: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}
main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	padding: 0 1.5rem;
}

main > div {
	background-color: var(--dark-blue);
	border-radius: 1rem;
	padding: 1.5rem;
	max-width: 400px;
}

.rating img {
	background-color: var(--dark-blue-lighter);
	padding: 0.75rem;
	border-radius: 50%;
}

h1 {
	font-size: 1.6em;
}

p {
	color: var(--light-grey);
}

ul {
	list-style: none;
	padding-left: 0;
	display: flex;
	justify-content: space-between;
}

li {
	display: grid;
	place-content: center;
	font-weight: 700;
	width: 2.75em;
	height: 2.75em;
	border-radius: 50%;
	background-color: var(--dark-blue-lighter);
	color: var(--light-grey);
	cursor: pointer;
	transition: 0.15s;
}

label {
	display: grid;
	place-content: center;
	width: 2.75em;
	height: 2.75em;
	cursor: pointer;
}

li:hover {
	background-color: var(--orange);
	color: var(--white);
}

li:has(> input:checked) {
	background-color: var(--medium-grey);
	color: var(--white);
}

label,
input {
	cursor: pointer;
}

input {
	appearance: none;
}

button {
	width: 100%;
	border-radius: 2rem;
	padding: 0.8em;
	text-transform: uppercase;
	color: var(--white);
	border: none;
	background-color: var(--orange);
	font-weight: 700;
	font-size: 0.9375rem;
	letter-spacing: 0.1em;
	transition: 0.15s;
	cursor: pointer;
}

button:hover {
	background-color: var(--white);
	color: var(--orange);
}

p {
	line-height: 1.5;
}

p.error {
	color: var(--orange);
}

div.thank-you {
	text-align: center;
}

p.selection {
	display: block;
	margin: 1rem auto;
	color: var(--orange);
	background-color: var(--dark-blue-lighter);
	width: fit-content;
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	line-height: unset;
}

footer {
	flex-grow: 0;
	padding-bottom: 0.5rem;
	text-align: center;
}

footer a {
	color: var(--orange);
	font-weight: 700;
	text-decoration: none;
}
